<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/emp.css">
    <link href="static/css/style.css" rel="stylesheet"/>
    <title>Employees</title>
</head>
<body>

<div class="menu">
    <a class="h" href="/Home">Home</a>
    <a class="e" href="/Employees">Add Employee</a>
    <a class="p" href="/EmployeePost">All Employees</a>
    <a class="p" href="/Plant">Plant</a>
    <a class="s" href="/Salon">Salon</a>
</div>

<div class="control">
    <form method="POST">
        <div>
            <p><input class="name" type="text" name="name" placeholder="Add Name: "></p>
            <p><input class="email" type="email" name="email" placeholder="Add mail: "></p>
            <p><input class="dep_t" name="department_type" placeholder="Add Department: "></p>
            <p><input class="dep_i" type="text" name="department_id" placeholder="Department id:"></p>
        </div>
            <div>
                <a><button href="" class="add" type="submit">add</button></a>
            </div>
</form>
</div>
</body>
</html>